#results {
    color: #fff; /* Ustawienie koloru tekstu na biały */
    font-family: Arial, sans-serif; /* Zachowaj ustawienia rodziny czcionek */
    font-size: 16px; /* Zachowaj ustawienia rozmiaru czcionki */
  }